<ul class="c-sidebar-nav">


    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="assets/icons/svg/free.svg#cil-pencil"></use>
        </svg> Typography</a></li>

    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="assets/icons/svg/free.svg#cil-puzzle"></use>
        </svg> Clientes
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/cliente-component">
            <span class="c-sidebar-nav-icon"></span>
            Registro
          </a>
        </li>
      </ul>
    </li>

  </ul>
  