<div class="container">

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-nuevo">Nuevo</button>
    <hr>

    <table class="table table-hover table-striped table-sm">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellidos}}</td>
                <td>{{cliente.email}}</td>
                <td>
                    <button class="btn btn-primary btn-sm">Editar</button> |
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>

    </table>

    <!-- Inicio modal nuevo -->

    <div class="modal fade" id="modal-nuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-info">
              <h5 class="modal-title text-white" id="exampleModalLabel">Nuevo cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            
                <form [formGroup]="form_cliente_nuevo" (ngSubmit)="save_cliente()">

                    <div class="row">
                        <div class="col">
                           <label for="">Nombre</label>
                           <input formControlName="nombre" type="text" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                           <label for="">Apellidos</label>
                           <input formControlName="apellidos" type="text" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                           <label for="">Email</label>
                           <input formControlName="email" type="email" class="form-control form-control-sm">
                        </div>
                    </div>

                    <br>
                
                    <button class="btn btn-success">Guardar</button>

                </form>
                
            </div>
            
          </div>
        </div>
      </div>

    <!-- Final modal nuevo -->

</div>
